<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @employee.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_employee_path(@employee) %> |
  <%= link_to 'Back', employees_path %>
<% else %>
  <%= link_to 'Back', employees_path %>
<% end %>

<!-- Display the annuals of an employee -->
<h2>employee's annual leave requests</h2>
<% @employee.annuals.each do |annual| %>
<p>
<b>request date:</b>
<%= annual.date %>
</p>
<p>
<b>request description:</b>
<%= annual.description %>
</p>
<% end %>
<%= link_to 'Show annuals', employee_annuals_path(@employee) %>