<h1>annuals in <%= @employee.firstname %></h1>
<table>
  <tr>
    <th>annual description</th>
  </tr>

<% for annual in @annuals %>
  <tr>
    <td><%= annual.description %></td>
    <td><%= link_to 'Show', employee_annual_path(@employee, annual)
		 %></td>
    <td><%= link_to 'Edit', edit_employee_annual_path(@employee, annual)
		 %></td>
    <td><%= link_to 'Destroy', employee_annual_path(@employee, annual), 
		:confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New annual', new_employee_annual_path(@employee) %>
<%= link_to 'Back to employee', @employee %>
