<h1>annual in <%= @employee.firstname %></h1>
<p>
  <b>annual description:</b>
  <%= @annual.description %>
</p>
<p>
  <b>annual date:</b>
  <%= @annual.date %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_employee_annual_path(@employee, @annual) %> |
  <%= link_to 'Back', employee_annuals_path(@employee) %>
<% else %>
  <%= link_to 'Back', employee_annuals_path(@employee) %>
<% end %>